<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Javier Ruiz</title>
  <link rel="stylesheet" href="../assets/css/reset.css"> 
  <link rel="stylesheet" href="../assets/css/style.css"> 
</head>
<body>
  <header>
    <h1>Javier Ruiz</h1>  
  </header>
  <figure>
    <img id="profilePic" src="../assets/images/Javier Ruiz Profile Pic.jpg" alt="Javier Ruiz Profile Pic">
  </figure>
  <section>
    <p id="hiWorld">Hi world, my name is Javier Ruiz.</p>
  </section>
  <article>
    <h2 id=favFoods>My favorite foods</h2>
    <ol id="ol">
      <li>salmon sashimi</li>
      <li>bbq ribs</li>
      <li>street tacos</li>
    </ol>
  </article>
<aside class="benefits">  
    <p>To contact me please fill out the information bellow</p>
    <section>
      <form>
        <p>
          <label for="name">name</label>
          <input type="test" name="name">
          <p>
            <label for="email"?>email</label>
            <input type="email" name="email">
          </p>
          <label for="message">message</label>
          <p>
            <textarea name="message" cols="30" rows="10"></textarea>
          </p>  
        </p>
      </form>
    </aside>
  </style>
</body>
</html>